<!DOCTYPE html>
<html ng-app="lrbe">
	<head>
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

		<script type="text/javascript" src="config.js"></script>

		<script type="text/javascript" src="jquery-2.1.1.min.js"></script>

		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="angular-sanitize.min.js"></script>
		<script type="text/javascript" src="angular-route.min.js"></script>
		<script type="text/javascript" src="lib/handlebars.min.js"></script>

		<!-- canvg -->
		<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
		<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/StackBlur.js"></script>
		<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>

		<script type="text/javascript" src="utils.js"></script>
		<script type="text/javascript" src="app.js"></script>	
	</head>
	<body>
		<div ng-view></div>
	<!--
		<div>
			<label>Name:</label>
			<input type="text" ng-model="name" placeholder="Enter a name here" />
			<hr />
			<h1>Hello {{name}}</h1>

			<div ng-controller="LRBEController">
				<select id="book_size">
					<option ng-repeat="size in book_sizes" value="{{size.folder_name}}">
						{{size.name}}
					</option>
				</select>
			</div>

		</div>
	-->
		<iframe src="lua_parser.html" style="width: 0px; height: 0px; border:0px;"></iframe>
	</body>
</html>