<div>
	Book: <span>{{book_size_name}}</span> <a href="#/">Change <i class="fa fa-reply"></i></a>
	<div>
		<button type="button" ng-click="export()" style="font-size: 18px;"><i class="fa fa-save fa-fw"></i>Save</button>
	</div>
	<div>
		<div>
			<div ng-repeat="page in default_pages" class="thumb default_thumb">
				<div class="thumb-svg-wrap">
					<div ng-bind-html="page.svg_thumb"></div>
					<div class="overlay"><a label="add" ng-click="add(page)"><i class="fa fa-plus-circle fa-fw"></i></a></div>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<hr />
		<div ng-repeat="page in pages" class="thumb" data-pageid="{{page.pageId}}">
			<div class="thumb-svg-wrap">
				<div ng-bind-html="page.svg_thumb"></div>
				<div class="overlay">
					<a label="edit" ng-click="edit(page)"><i class="fa fa-pencil fa-fw"></i></a>
					<a label-"delete" ng-click="delete(page)"><i class="fa fa-trash-o fa-fw"></i></a>
					<a label="duplicate" ng-click="duplicate(page)"><i class="fa fa-copy fa-fw"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>