#tool_fhpath,
#tools_line_show,
#tools_ellipse_show,
#tool_path,
#tools_shapelib_show,
#tool_text,
#tool_image,
#tool_polygon,
#tool_star,
#tool_eyedropper,
#sidepanels,
#main_icon,
#tool_topath,
#tool_reorient,
#tool_make_link,
#idLabel,
#tool_angle,
#tool_blur,
#cornerRadiusLabel,
#tools_bottom_2,
#tools_bottom_3{
	display: none !important;
}

#tools_top{
	left: 5px;
}

#tool_lrbe_save{
	color: green;
	font-size: 20px;
}