.thumb{
	border: 1px solid black;
	margin: 7px;
	padding: 3px;
	text-align: center;
	float: left;
}

a:hover{
	color: blue;
	cursor: pointer;
}

.thumb-svg-wrap{
	position: relative;
}


.thumb-svg-wrap .overlay{
	position: absolute;
	top: 5px;
	left: 10px;
	width: 30px;
	font-size: 26px;
}

.thumb .overlay{
	display: none;
}
.thumb:hover .overlay{
	display: block;
}

.default_thumb .overlay{
	display: block;
	width: 100%;
	left: 0;
	top: 20%;
	margin-left: auto;
	margin-right: auto;
}
